<br>
<p style='font-family:Helvetica'>This tag is not registered. Register Now?</p>
<br>
<button onclick="location.href='/register/{{id}}'" style="
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
">Register Tag</button>