<br>
<br>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    table {
        padding: 5px;
    }
</style>
<table>
    <thead>
        <tr>
            <th>Tag Name</th>
            <th>URL</th>
            <th><button onclick="location.href='/add'" style="
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
">Add +</button></th>
        </tr>
    </thead>
    <tbody>
        {{#each nfcTag}}
        <tr>
            <td>{{name}}</td>
            <td>{{redir}}</td>
            <td><a href="/edit/{{id}}">Edit</a></td>
        </tr>
        {{/each}}
    </tbody>

</table>